**/.DS_Store
__pycache__
.venv
.env

# Building
dist

# Jupyter Notebook
**/.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

public/

.cache
.mypy_cache

node_modules
package-lock.json
package.json

# pixi environments
.pixi
*.egg-info

# coverage
coverage.xml
report.xml
.coverage
